@import url(../css/footer.css);
@import url(../css/header.css);
@import url(../css/global.css);
.custom-about-section {
  margin-top: 220px;
}

.custom-about-section h1 {
  font-size: 50px;
}

.custom-about-section h1 span {
  font: 50px "Megrim", cursive;
  font-weight: bold;
}

.custom-about-wrapper {
  margin: 0px calc(200px + 200 * ((100vw - 992px) / 909)) 200px calc(200px + 200 * ((100vw - 992px) / 909));
}

.custom-about-para {
  margin-top: 100px;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.452);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.452);
  background-color: white;
}

@media only screen and (max-width: 992px) {
  .custom-about-wrapper {
    margin: 0px 10px 10px 10px;
  }
  .custom-about-para {
    padding: 10px;
    margin-top: 50px;
    font-size: 17px;
  }
  .custom-about-section h1,
  .custom-about-section h1 span {
    font-size: 38px;
  }
}
