@import url(../css/footer.css);
@import url(../css/header.css);
@import url(../css/global.css);
.custom-contact-form-section {
  margin: 200px calc(100px + 100 * ((100vw - 992px) / 909)) 0 calc(100px + 100 * ((100vw - 992px) / 909));
}

h1 {
  text-align: center;
  margin: auto;
  font-size: 50px;
  margin-bottom: 100px;
}

.custom-contact-form-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.329);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.329);
}

.custom-css-contact-details {
  background-color: var(--primary-purple);
}

h3 {
  margin: auto;
  margin-top: 20px;
}

form input,
form textarea {
  border: 0;
  background-color: var(--light-grey);
  color: black;
  width: calc(339px + 361 * ((100vw - 992px) / 909));
  margin: 20px;
  margin-right: 40px;
}

form input {
  height: 50px;
}

form input[type="submit"] {
  margin: auto;
  background-color: var(--primary-purple);
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

form input[type="submit"]:hover {
  background-color: white;
  color: var(--primary-purple);
  border: 1px solid var(--primary-purple);
}

@media only screen and (max-width: 992px) {
  .custom-contact-form-section {
    margin: initial;
    margin-top: 200px;
  }
  .custom-contact-form-wrapper {
    margin: initial;
  }
  .custom-css-contact-details {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto !important;
  }
  .custom-css-contact-details div {
    margin: auto !important;
    margin-top: 50px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .custom-css-contact-details div i,
  .custom-css-contact-details div span {
    display: block;
    margin: auto;
  }
  form {
    width: 100%;
    margin: auto !important;
  }
  form input,
  form textarea {
    width: initial !important;
    margin: 20px !important;
  }
  form input[type="submit"] {
    margin: auto !important;
    margin-bottom: 30px !important;
  }
}

::-webkit-input-placeholder {
  color: #414141 !important;
}

:-ms-input-placeholder {
  color: #414141 !important;
}

::-ms-input-placeholder {
  color: #414141 !important;
}

::placeholder {
  color: #414141 !important;
}
