body {
  height: 1000vh;
}

.custom-css-logo {
  height: 60px;
  width: 50px;
}

.custom-css-sidebar {
  overflow: auto;
  width: calc(300px + 300 * ((100vw - 768px) / 1133));
  border-right: 2px solid black;
}

input:focus {
  outline: none;
}

.custom-css-search-form-group input[type="image"] {
  height: 30px;
}

.custom-css-search-form-group input[type="text"] {
  border: 0;
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.295);
          box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.295);
  height: 38px;
  width: 27vw;
}

.custom-css-customize-form input[type="radio"] {
  float: right;
  margin-right: 5vw;
}

.custom-css-submit-button-wrapper input {
  width: 70px;
  height: 40px;
  margin: auto;
  display: block;
  background-color: transparent;
  border: 2px solid #57a8ff;
  color: #57a8ff;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-css-submit-button-wrapper input:hover {
  border-color: black;
  color: black;
}

@media only screen and (max-width: 768px) {
  .custom-css-search-form-group input[type="text"] {
    width: 80%;
  }
  .custom-css-sidebar {
    width: 100%;
    border: 0;
  }
  .custom-css-sidebar form[name="searchForm"] {
    margin-left: 0 !important;
  }
  #searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .custome-css-searchButtonWrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 5px;
  }
}
