:root {
  --light-grey: #e1e1e1;
  --primary-purple: #733eff;
  --white: #fff;
  --black: #000;
}

body {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#ccbaff 2px, transparent 2px), radial-gradient(#ccbaff 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  font: 18px "Roboto Slab", serif;
}

button:focus {
  outline: 0;
}

a {
  color: var(--primary-purple);
}

.custom-css-div-inner-header {
  z-index: 1300;
}

.custom-css-logo h1 {
  font: 65px "Megrim", cursive;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.custom-css-hamburger-wrapper {
  display: initial;
  z-index: 1000;
}

.custom-css-hamburger {
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-css-hamburger:hover,
.custom-css-close:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.custom-css-hamburger-off {
  opacity: 0;
}

.custom-css-hamburger-animate {
  -webkit-animation: blinc 1s infinite;
          animation: blinc 1s infinite;
}

.custom-css-close {
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.custom-css-close-on {
  opacity: 1;
}

.custom-css-sidebar {
  background-color: var(--white);
  overflow: auto;
  width: 300px;
  -webkit-box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.432);
          box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.432);
  color: var(--black);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}

input:focus {
  outline: none;
}

.custom-css-search-form {
  margin-top: 4rem;
}

.custom-css-search-form-group input[type="image"] {
  height: 30px;
}

.custom-css-search-form-group input[type="text"] {
  border: 0;
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.295);
          box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.295);
  height: 38px;
  width: 210px;
}

.custom-css-customize-form input[type="radio"] {
  float: right;
  margin-right: 39px;
}

.custom-css-submit-button-wrapper input {
  width: 70px;
  height: 40px;
  margin: auto;
  display: block;
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-css-submit-button-wrapper input:hover {
  border-color: black;
  color: black;
}

.custom-css-post-preview-section {
  width: calc(620px + 271 * ((100vw - 768px) / 1133));
  font-size: calc(16px + 3 * ((100vw - 768px) / 1133));
  overflow: auto;
  margin-right: calc(15px + 335 * ((100vw - 768px) / 1133));
  margin: auto;
  margin-top: calc(205px + 50 * ((100vw - 768px) / 1133));
}

.custom-css-post-preview-section .not1 {
  margin-top: 120px;
}

.custom-css-post-preview-section img {
  max-width: 100%;
}

.custom-css-post-preview-section span,
.custom-css-post-preview-section p,
.custom-css-post-preview-section a,
.custom-css-post-preview-section h1 {
  display: block;
  width: 100%;
  max-width: 100%;
}

.custom-css-footer {
  clear: both;
  background-color: white;
  z-index: 800;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-top: 200px;
  -webkit-box-shadow: 0px -13px 20px 10px #00000030;
          box-shadow: 0px -13px 20px 10px #00000030;
}

.custom-css-footer-col-1 {
  padding-top: 75px;
  padding-left: 30px;
}

.custom-css-footer div {
  margin-bottom: 30px;
  margin-top: 30px;
}

.custom-css-footer-col-1 h1 {
  font: 65px "Megrim", cursive;
  font-weight: bold;
}

.custom-css-footer-link-icons {
  padding-top: 50px;
}

.custom-css-footer-link-icons div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.custom-css-footer-link-icons img {
  height: 50px;
}

@-webkit-keyframes blinc {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes blinc {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .custom-css-logo h1 {
    font-size: 50px;
  }
  .custom-css-hamburger-wrapper {
    display: initial;
    z-index: 1100;
  }
  .custom-css-search-form-group input[type="text"] {
    width: 80%;
  }
  .custom-css-sidebar {
    width: 100%;
    border: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.295);
            box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.295);
    height: 0;
    overflow: hidden;
    background-color: var(--white);
  }
  .custom-css-sidebar form[name="searchForm"] {
    margin-left: 0 !important;
  }
  #searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .custome-css-searchButtonWrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 5px;
  }
  .custom-css-post-preview-section {
    width: 100%;
    margin: auto;
    margin-top: 150px;
  }
  .custom-css-post-preview-section article {
    margin-top: 50px;
  }
}

.custom-css-sidebar-on {
  opacity: 1;
  height: 550px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.custom-css-sidebar-on-desktop {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
