/*
developer: Shehan Chanuka
Email: shehanxdev@gmail.com
github:
version: 1.0
*/
//global styles
:root {
  --text-primary-color: black;
}
* {
  font: 16px "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 2px solid black;
  margin: 0;
}
.custom-css-preview-section {
  margin-top: 30px;
  padding: 0 30px 0 30px;
}

.custom-css-preview-paragraph-container {
  padding: 0 30px 0 30px;
}
.custom-css-row {
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  margin: 40px 0 20px 0;
}
.custom-css-img {
  margin: 10px;
}
@media only screen and (min-width: 576px) {
  //navbar styles start
  .custom-css-navbar {
    justify-content: center;
    flex-direction: column;
  }
  .custom-css-navbar img {
    width: 50px;
    height: 50px;
  }
  .custom-css-nav a {
    font-size: 20px;
  }
  //navbar styles ends
  //post preview
  .custom-css-preview-paragraph-container {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 575px) {
  //navbar styles start
  .custom-css-navbar img {
    width: 30px;
    height: 30px;
  }
  .custom-css-nav {
    flex-direction: column;
    justify-content: center;
  }
  .custom-css-nav a {
    text-align: center;
  }
  //navbar styles ends
}
